<div class="title">Art</div>
<div style="height: 310px; overflow: hidden; position: relative;" rg-scroll>

  <h3>Characters:</h3>
  <div class="gallery" id="characters">
    <a href="/images/char_1.jpg" rel="shadowbox[characters]"><img src="/images/char_t_1.jpg" alt="character"></a>
    <a href="/images/char_2.jpg" rel="shadowbox[characters]"><img src="/images/char_t_2.jpg" alt="character"></a>
    <a href="/images/char_3.jpg" rel="shadowbox[characters]"><img src="/images/char_t_3.jpg" alt="character"></a>
    <a href="/images/char_4.jpg" rel="shadowbox[characters]"><img src="/images/char_t_4.jpg" alt="character"></a>
    <a href="/images/char_5.jpg" rel="shadowbox[characters]"><img src="/images/char_t_5.jpg" alt="character"></a>
    <a href="/images/char_6.jpg" rel="shadowbox[characters]"><img src="/images/char_t_6.jpg" alt="character"></a>
    <a href="/images/char_7.jpg" rel="shadowbox[characters]"><img src="/images/char_t_7.jpg" alt="character"></a>
    <a href="/images/char_8.jpg" rel="shadowbox[characters]"><img src="/images/char_t_8.jpg" alt="character"></a>
		<a href="/images/char_9.jpg" rel="shadowbox[characters]"><img src="/images/char_t_9.jpg" alt="character"></a>
		<a href="/images/char_10.jpg" rel="shadowbox[characters]"><img src="/images/char_t_10.jpg" alt="character"></a>
		<a href="/images/char_11.jpg" rel="shadowbox[characters]"><img src="/images/char_t_11.jpg" alt="character"></a>
		<a href="/images/char_12.jpg" rel="shadowbox[characters]"><img src="/images/char_t_12.jpg" alt="character"></a>
		<a href="/images/char_13.jpg" rel="shadowbox[characters]"><img src="/images/char_t_13.jpg" alt="character"></a>
		<a href="/images/char_14.jpg" rel="shadowbox[characters]"><img src="/images/char_t_14.jpg" alt="character"></a>
	</div>
	
	<h3>Buildings:</h3>
	<div class="gallery" id="concepts">
	    <a href="/images/building_1.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_1.jpg" alt="concept"></a>
	    <a href="/images/building_2.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_2.jpg" alt="concept"></a>
	    <a href="/images/building_3.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_3.jpg" alt="concept"></a>
	    <a href="/images/building_4.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_4.jpg" alt="concept"></a>
	    <a href="/images/building_5.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_5.jpg" alt="concept"></a>
	    <a href="/images/building_6.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_6.jpg" alt="concept"></a>
	    <a href="/images/building_7.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_7.jpg" alt="concept"></a>
	    <a href="/images/building_8.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_8.jpg" alt="concept"></a>
	    <a href="/images/building_9.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_9.jpg" alt="concept"></a>
	    <a href="/images/building_10.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_10.jpg" alt="concept"></a>
	    <a href="/images/building_11.jpg" rel="shadowbox[concepts]"><img src="/images/building_t_11.jpg" alt="concept"></a>
  </div>
</div>
