<div class="title">Art</div>
<h3>Concepts:</h3>
<div class="gallery">
	<a href="images/concept_1.jpg"><img src="../images/concept_t_1.jpg" alt="screenshot"></a>
	<a href="images/concept_2.jpg"><img src="../images/concept_t_2.jpg" alt="screenshot"></a>
	<a href="images/concept_3.jpg"><img src="../images/concept_t_3.jpg" alt="screenshot"></a>
	<a href="images/concept_4.jpg"><img src="../images/concept_t_4.jpg" alt="screenshot"></a>
	<a href="images/concept_5.jpg"><img src="../images/concept_t_5.jpg" alt="screenshot"></a>
	<a href="images/concept_6.jpg"><img src="../images/concept_t_6.jpg" alt="screenshot"></a>
	<a href="images/concept_7.jpg"><img src="../images/concept_t_7.jpg" alt="screenshot"></a>
	<a href="images/concept_8.jpg"><img src="../images/concept_t_8.jpg" alt="screenshot"></a>
</div>
<h3>Characters:</h3>
<div class="gallery">
	<a href="images/char_1.jpg"><img src="../images/char_t_1.jpg" alt="character"></a>
	<a href="images/char_2.jpg"><img src="../images/char_t_2.jpg" alt="character"></a>
	<a href="images/char_3.jpg"><img src="../images/char_t_3.jpg" alt="character"></a>
	<a href="images/char_4.jpg"><img src="../images/char_t_4.jpg" alt="character"></a>
	<a href="images/char_5.jpg"><img src="../images/char_t_5.jpg" alt="character"></a>
	<a href="images/char_6.jpg"><img src="../images/char_t_6.jpg" alt="character"></a>
	<a href="images/char_7.jpg"><img src="../images/char_t_7.jpg" alt="character"></a>
	<a href="images/char_8.jpg"><img src="../images/char_t_8.jpg" alt="character"></a>
</div>