<div class="title">Screens</div>
<div class="gallery">
	<a href="images/screen_1.jpg"><img src="../images/screen_t_1.jpg" alt="screenshot"></a>
	<a href="images/screen_2.jpg"><img src="../images/screen_t_2.jpg" alt="screenshot"></a>
	<a href="images/screen_3.jpg"><img src="../images/screen_t_3.jpg" alt="screenshot"></a>
	<a href="images/screen_4.jpg"><img src="../images/screen_t_4.jpg" alt="screenshot"></a>
	<a href="images/screen_5.jpg"><img src="../images/screen_t_5.jpg" alt="screenshot"></a>
	<a href="images/screen_6.jpg"><img src="../images/screen_t_6.jpg" alt="screenshot"></a>
	<a href="images/screen_7.jpg"><img src="../images/screen_t_7.jpg" alt="screenshot"></a>
	<a href="images/screen_8.jpg"><img src="../images/screen_t_8.jpg" alt="screenshot"></a>
</div>