<div class="title">Join Beta</div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>

<div class="msg error"></div>
<div class="msg info"></div>

<form>
	<div class="row">
	    <input type="text" name="name" placeholder="Your name" />
	    <input type="text" name="email" placeholder="Your e-mail" />
	</div>
	<div class="row terms">
		<input type="checkbox" name="terms" id="terms">
		<label for="terms">I agree to the</label>
		<a href="#" target="_blank">Terms and Conditions</a>
	</div>
	<div class="buttonrow">
		<input type="button" value="Submit" />
	</div>
</form>
