<div class="title">Team</div>
	<div style="height: 310px; overflow: hidden; position: relative;" rg-scroll>
		<div class="team">
			<img src="../images/team_1.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Hristo Tenchev</big>
			<small>Chief Executive Officer<br> (The Big Chief)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_2.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Krassy Kalcheva</big>
			<small>Chief Finance Officer<br> (The Lady from the 6th floor)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_3.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Nadia Danabasheva</big>
			<small>Chief Game Officer<br> (Makes people do stuff)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_4.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Lili Pavlova</big>
			<small>Art Director<br> (Artistic Creature)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_5.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Peter Gavrilov</big>
			<small>Chief Visual Officer<br> (Epic design ninja)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_6.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Georgi Traykov</big>
			<small>Game Designer<br> (Hater by (game) design)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_7.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Kaloyan Gigilev</big>
			<small>Game Designer<br> (From outer space)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_8.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Alexander Blagoev</big>
			<small>Chief Technical Officer<br> (Master Yoda)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_9.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Vassil Joskov</big>
			<small>Senior Developer<br> (Wanna-be Rock star)</small>
		</div>
		
		<div class="team">
			<img src="../images/team_10.jpg" draggable="false" width="80px" alt="" class="pageHeader">
			<big>Jivko Georgiev</big>
			<small>Senior Developer<br> (Most Serious Guy)</small>
		</div>
	</div>
